body {
	font-family: Helvetica;
}

li {
	display: inline;
	padding: 10px;
}

ul {
	padding-left: 0px;
}

a {
    font-weight: 400;
    color: black;
}

a:hover {
    color: #0B24FB;
    font-weight: 400;
    text-decoration: none;
}

h1 {
	font-size: 7em;
	line-height: 0.8em;
	color: blue;
}

#header {
	height: 100vh;
	padding-top: 30vh;
}

#watwaaromhoe {
	padding-top: 12vh;
	padding-bottom: 12vh;
	background-color: #f7f5e8;
}

#Edward {
	padding-top: 12vh;
	padding-bottom: 12vh;
}

.vormdiv {
	margin-bottom: 15vh;
}

#procesimg {
	height: 40vh;
	width: auto;
}

#designprocesimg {
	width: 100%;
	height: auto;
}

#halvebreedte {
	width: 50%;
}

#divrechts {
	width: 50%;
	float: right;
}

#voorbeelden {
	background-color: #e2e2e2}

#quote {
	font-size: 2em;
	font-family: sans-serif;
}

#naastquote {
	font-size: 1.2em;
	font-family: sans-serif;
}

.practiceimg {
	width: 100%;
	height: auto;
}

.vormen {
	width: 100%;
	height: auto;
}

.Titel {
	font-size: 4em;
	font-weight: 500;
	color: blue;
}

h6 {
	font-size: 9pt;
}

h3 {
	font-weight: bold;
}

#CMD {
	background-color: #f7f5e8;
}